@model PROGETTO_S3.Models.ViewModel.CreateProductViewModel

@{
    ViewData["Title"] = "Create Product";
}

<form asp-action="CreateProduct" method="post" enctype="multipart/form-data" class="border-personal p-personal">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Product.Name" class="font-personal"></label>
        <input asp-for="Product.Name" class="form-control" />
        <span asp-validation-for="Product.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Product.Price" class="font-personal"></label>
        <input asp-for="Product.Price" class="form-control" />
        <span asp-validation-for="Product.Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Image" class="font-personal">Image</label>
        <input type="file" name="Image" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Product.DeliveryTimeInMinutes" class="font-personal"></label>
        <input asp-for="Product.DeliveryTimeInMinutes" class="form-control" />
        <span asp-validation-for="Product.DeliveryTimeInMinutes" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="font-personal">Ingredients</label>
        <div>
            @for (int i = 0; i < Model.Ingredients.Count; i++)
            {
                <div>
                    <input type="checkbox"
                           name="SelectedIngredientIds"
                           value="@Model.Ingredients[i].Id"
                    @(Model.SelectedIngredientIds.Contains(Model.Ingredients[i].Id) ? "checked" : "") />
                    <label>@Model.Ingredients[i].Name</label>
                </div>
            }
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Create Product</button>
</form>
